.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      justify-items: center;
    }
  
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10px;
      justify-items: center;
      padding: 0 10px; // Optional padding adjustment for smaller screens
    }
  }