.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: auto; /* Change to auto for responsive height */
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

   .footer {
     width: 100%;
     height: auto; /* Change to auto for responsive height */
     display: flex;
     justify-content: space-between;
     font-size: 18px;

     .name {
       width: auto; /* Change to auto for responsive width */
       margin-bottom:15px; 
     }

     .price {
       width:auto; /* Change to auto for responsive width */
     }
   }
}

@media (max-width :768px) { 
  .product-card-container {
     height:auto; 
     
     img{
        height:auto; 
     }
     
     button{
        top:auto; 
        bottom:-20px; 
        left:-20px; 
        right:-20px; 
        width:auto !important; 
        padding-top :10px !important ;
        padding-bottom :10px !important ;
     }
     
     .footer{
       flex-direction: column;
       align-items: center;
       
       .name{
         width: 100%;
         margin-bottom: 5px;
       }
       
       .price{
         width: 100%;
       }
     }
  }
}