.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

}

@media (max-width: 768px) { // Adjust the breakpoint as per your requirements
   .checkout-container {
     width: 90%; // Adjust the width as per your requirements
   }

   .checkout-header {
     flex-wrap: wrap; // Allow header blocks to wrap on smaller screens

     .header-block {
       width: auto; // Allow header blocks to take full width on smaller screens

       &:last-child {
         display:none; // Hide last header block on smaller screens if needed
       }
     }
   }
}